*{
    padding: 0;
    margin: 0;
}

body{
    background: #e4e1dc;
}

.add__new_btn_mobile_only{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    z-index: 3;
    width: 100%;
}

/* @media (min-width: 768px) {
    .add__new_btn_mobile_only{
        display: none;
    }
} */